@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --white-bg-color: #ffffff;
  --main-bg-color: #6155a030;
  --buttons-bg-color: #a78bfa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #333;
}
body {
  display: flex;
  flex-direction: column;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: var(--white-bg-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.brand-text p {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  color: var(--buttons-bg-color);
  text-shadow: 2px 2px 3px #333;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.brand-text p:hover {
  scale: 1.02;
}
button {
  align-items: center;
  background-color: var(--buttons-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--white-bg-color);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  scale: 1.03;
  /* color: rgba(0, 0, 0, 0.65); */
}
button:hover {
  transform: translateY(-1px);
}
button:active {
  background-color: var(--white-bg-color);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/************************** main-container ********************/
section.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 30px;
}
.new-books {
}
.books-container {
  width: 90%;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 30px;
}
.book-box {
  width: 200px;
  height: 250px;
  border: 1px solid #333;
}

/************************** footer ********************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
